In [1]:
print('Hello World') #print() is a function in python
#'hello world' is plain text, that is why it has been written inside '',""

Hello World

In [2]:
#pinky's computer
print("pinky's computer")

pinky's computer

In [3]:
#comment--> are never executed
#Introducing Variables in Python

x = 10
y = 20
myName = 'Manshi Sharma' #String

print(type(x))

#x is variable and 10 is a value and we are assinging 10 to x using =

<class 'int'>

In [4]:
print(type(myName))

<class 'str'>

In [5]:
#print the value of x
print(x)

10

In [6]:
x

10

In [7]:
print(y)

20

In [8]:
print(myName)

Manshi Sharma

In [9]:
print(z)

NameError: name 'z' is not defined

In [10]:
print(x, y, myName)

10 20 Manshi Sharma

In [11]:
#My name is Manshi Sharma
myName = Manshi Sharma

SyntaxError: invalid syntax (377874858.py, line 2)

In [12]:
print('MY name is', myName)

MY name is Manshi Sharma